<!-- home.html -->
{% extends "base.html" %}

{% block title %}Settings - OCHRA{% endblock %}

{% block content %}

{% include "navbar.html"%}
<main class="flex-1">
	<!--just a div-->
	<div class="flex min-h-dvh">
		<!--just a div-->
		<div class="flex-1">

			<!--Banner-->
			<div class="flex w-full p-6 border-b-[0.5px] border-text dark:border-dark-text justify-between">
				<div>
					<h1 class="text-primary dark:text-dark-primary text-4xl">Settings</h1>
					<p class="text-text dark:text-dark-text">Logged in as Niall</p>
				</div>
				<div class="w-1.5 h-1.5 rounded-full bg-success dark:bg-dark-success animate-pulse">
				</div>
			</div>

			<!--Main Content-->
			<div class="flex flex-col gap-4 flex-1 p-6">
				<div class="pb-3 border-b-[0.5px] border-text dark:border-dark-text">
					<p class="text-2xl font-bold">Your Profile</p>
					<p class="text-lg">Please update your profile settings here</p>
				</div>

				<div class="flex gap-4 pb-3 border-b-[0.5px] border-text dark:border-dark-text">
					<p class="text-lg min-w-32">Username</p>
					<input placeholder="John Doe" class="flex-1 border-[0.5px] border-text dark:border-dark-text p-2" type="text"></input>
				</div>

				<div class="flex gap-4 pb-3 border-b-[0.5px] border-text dark:border-dark-text">
					<p class="text-lg min-w-32">Phone Number</p>
					<input placeholder="+1 123 456 7891" class="flex-1 border-[0.5px] border-text dark:border-dark-text p-2" type="text"></input>
				</div>

				<div class="flex flex-row-reverse gap-4 pb-3">
					<input value="Edit" class="bg-primary px-2 py-1 rounded-2xl" type="submit"></input>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
