@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {  
	--spacing: 0.4rem;
	--color-text: #0a0a0a;
	--color-neutral: #fff;
	--color-base: #f3f4f6;
	--color-primary: #ff6e00;
	--color-success: #51b355;
	--color-idle: #a2810b;
	--color-error: #cb180b;
	--color-dots: rgba(10, 10, 10, .4);

	--color-dark-text: #f5f5f5;
	--color-dark-neutral: #2D2D2D;
	--color-dark-base: #1e1e1e;
	--color-dark-primary: #ff6f00;
	--color-dark-success: #4caf50;
	--color-dark-idle: #f4d35e;
	--color-dark-error: #F44336;
	--color-dark-dots: rgba(245, 245, 245, .4);

	--font-poppins: "Poppins";
}


html[data-theme="dark"] .bg-dotted {
  background: var(--color-dark-base);
  background-image: radial-gradient(var(--color-dark-dots) 5%, transparent 0);
  background-size: 24px 24px;
}

html[data-theme="light"] .bg-dotted {
  background: var(--color-base);
  background-image: radial-gradient(var(--color-dots) 5%, transparent 0);
  background-size: 24px 24px;
}
