<div>
	<h5 class="text-xl">Name: {{device_name}}</h5>
	<h6 class="text-xl">Readings</h6>
	<ul class="list-disc text-lg">
		{% for state in states %}
		<li>
			{{ state.name }}: {{state.value}}
		</li>
		{% endfor %}
	</ul>


	<h6 class="text-xl mt-4">Commands</h6>
	{% for form in forms %}
	<form class="flex flex-col gap-4 p-4 border-[0.5px] border-text dark:border-dark-text" hx-boost="true"
		action="{{device_id}}/commands" method="{{form.method}}">
		<input type="hidden" name="command" value="{{form.command}}" />
		{% for param in form.params %}
		<label>
			<span>{{param.name}}</span>
			<input class="border-[0.5px] border-text dark:border-dark-text" type="text" name="{{param.name}}"
				value="" />
		</label>
		{% endfor %}
		<div>
			<button class="hover:cursor-pointer mt-0.5 bg-primary dark:bg-dark-primary p-1" type="submit">
				execute
			</button>
		</div>
	</form>
	{% endfor %}
</div>
