{% extends "zzmain_layout.html" %}

<!--Banner-->
{% block banner_title %}
<h1 class="text-primary dark:text-dark-primary text-4xl">Workflows</h1>
<p class="text-text dark:text-dark-text">Logged in as {{request.state.user.username}}</p>
{% endblock %}

{% block content %}
<!--just a div-->
<div class="flex flex-col flex-1">
	<!--Main Content-->
	<div class="flex-1">
		<div class="w-full h-full" id="floweditor"></div>
	</div>
	<script>
		var flow = WebComponentFlow({container: '#floweditor'})
	</script>
</div>
{% endblock %}
