<!DOCTYPE html>
<html lang="en" x-data="{theme: 'dark'}" x-bind:data-theme="theme">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height initial-scale=1">
	<link id="favicon" rel="icon" type="image/x-icon" href="static/favicon.ico">
	<title>{% block title %}My Website{% endblock %}</title>
	<link href="{{url_for('static',path='/css/app.css')}}" rel="stylesheet" />
	<script src="https://unpkg.com/htmx.org@2.0.4"
		integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
		crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="bg-base dark:bg-dark-base font-poppins text-text dark:text-dark-text">
	<main class="flex-1 flex flex-col h-dvh">
		<!--Banner-->
		<div class="flex w-full p-6 border-b-[0.5px] border-text dark:border-dark-text justify-between">
			<div>
				<h1 class="text-primary dark:text-dark-primary text-4xl">Station - {{station_name}}</h1>
				<p class="text-text dark:text-dark-text">Interact and control devices here</p>
			</div>
			<div class="w-1.5 h-1.5 rounded-full bg-success dark:bg-dark-success animate-pulse">
			</div>
		</div>

		<!--Main Content-->
		<div class="flex flex-wrap gap-6 flex-1 p-6 overflow-y-auto">
			{% for html in devices %}
				{{ html|safe }}
			{% endfor %}
		</div>

		<div class="w-full px-6 py-2 border-t-[0.5px] border-text dark:border-dark-text">
			<div>
				<p class="text-text dark:text-dark-text">Namaste</p>
			</div>
		</div>
	</main>
</body>

</html>
