
{% extends "zzmain_layout.html" %}

{% block content %}
<div class="h-dvh flex flex-col flex-1 {% if sidepanel_view %}h-full overflow-hidden lg:flex{% endif %}">
    <!--Banner-->
    <div class="flex w-full p-6 border-b-[0.5px] border-text dark:border-dark-text justify-between shrink-0">
        <div>
            <h1 class="text-primary dark:text-dark-primary text-4xl">{{station._name}} / {{device.name}} ― [{{device.cls}}]</h1>
            <p class="text-text dark:text-dark-text">Logged in as {{request.state.user.username}}</p>
        </div>
        <div class="w-1.5 h-1.5 rounded-full bg-success dark:bg-dark-success animate-pulse">
        </div>
    </div>

    <!--Main Content-->
    <div class="w-[75%] w-full h-87-dvh flex flex-col overflow-y-auto overflow-x-hidden">
        <a href="/app" class="z-50 absolute left-0 top-0 pl-2 pt-2 lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-text dark:fill-dark-text" height="24px"
                viewBox="0 -960 960 960" width="24px">
                <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
            </svg>
        </a>
        <div class="w-[95%]">
            {{ device_html | safe }}
        </div>
    </div>
</div>

<div id="SIDEPANEL_CONTAINER" 
	{% if not sidepanel_view %} 
		class="hidden relative lg:block w-7 lg:w-7" 
	{% else %}
		class="w-full relative lg:w-90"
	{% endif %}
>
	<button 
		id="TOGGLE_BUTTON"
		class="absolute left-0 top-0.5 z-50 -translate-y-0.5 text-text dark:text-dark-text text-xl px-2 py-2 rounded-r hover:cursor-pointer"
	>
		▶
	</button>
	<div class="absolute hidden lg:block top-0 left-0 z-40 h-screen w-2 hover:cursor-e-resize" id="RESIZER">
		
	</div>
		{% include "/components/sidepanel.html"%}
	<script src="/static/js/resize.js"></script> 
	<script src="/static/js/expand.js"></script> 
</div>

{% endblock %}

