{% extends "zzmain_layout.html" %}

<!--Banner-->
{% block banner_title %}
<h1 class="text-primary dark:text-dark-primary text-4xl">Settings</h1>
<p class="text-text dark:text-dark-text">Logged in as {{request.state.user.username}}</p>
{% endblock %}

{% block content %}
<!--just a div-->
<div class="flex-1">
	<!--Main Content-->
	{% if edit %}
	<form class="flex flex-col gap-4 flex-1 p-6" method="PUT" hx-boost="true">
		<div class="pb-3 border-b-[0.5px] border-text dark:border-dark-text">
			<p class="text-2xl font-bold">Your Profile</p>
			<p class="text-lg">Please update your profile settings here</p>
		</div>

		<div class="flex gap-4 pb-3 border-b-[0.5px] border-text dark:border-dark-text">
			<p class="text-lg min-w-32">Username:</p>
			<input name="username" class="flex-1 border-[0.5px] border-text dark:border-dark-text p-2" type="text"
				value="{{request.state.user.username}}"></input>
		</div>

		<div class="flex gap-4 pb-3 border-b-[0.5px] border-text dark:border-dark-text">
			<p class="text-lg min-w-32">Email:</p>
			<input name="email" class="flex-1 border-[0.5px] border-text dark:border-dark-text p-2" type="text"
				value="{{request.state.user.email}}"></input>
		</div>

		<div class="flex flex-row-reverse gap-4 pb-3">
			<input value="Save" class="bg-success px-2 py-1 rounded-2xl" type="submit"></input>
			<a hx-boost="true" href="/app/settings">
				<div class="bg-error px-2 py-1 rounded-2xl">Cancel</div>
			</a>
		</div>
	</form>
	{% else %}
	<div class="flex flex-col gap-4 flex-1 p-6">
		<div class="pb-3 border-b-[0.5px] border-text dark:border-dark-text">
			<p class="text-2xl font-bold">Your Profile</p>
			<p class="text-lg">Please update your profile settings here</p>
		</div>

		<div class="flex gap-4 pb-3 border-b-[0.5px] border-text dark:border-dark-text">
			<p class="text-lg min-w-32">Username:</p>
			<input disabled class="flex-1 p-2 border-[0.5px] border-transparent" type="text"
				value="{{request.state.user.username}}"></input>
		</div>

		<div class="flex gap-4 pb-3 border-b-[0.5px] border-text dark:border-dark-text">
			<p class="text-lg min-w-32">Email:</p>
			<input disabled class="flex-1 p-2 border-[0.5px] border-transparent" type="text"
				value="{{request.state.user.email}}"></input>
		</div>

		<div class="flex flex-row-reverse gap-4 pb-3">
			<a hx-boost="true" href="/app/settings?edit=true">
				<div class="bg-primary px-2 py-1 rounded-2xl">Edit</div>
			</a>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
