{% extends "zzmain_layout.html" %}

{% block content %}
<!--just a div-->
<div class="flex flex-col flex-1">

	<!--Banner-->
	<div class="flex w-full p-6 border-b-[0.5px] border-text dark:border-dark-text justify-between">
		<div>
			<h1 class="text-primary dark:text-dark-primary text-4xl">Workflows</h1>
			<p class="text-text dark:text-dark-text">Logged in as {{request.state.user.username}}</p>
		</div>
		<div class="w-1.5 h-1.5 rounded-full bg-success dark:bg-dark-success animate-pulse">
		</div>
	</div>

	<!--Main Content-->
	<div class="flex-1 bg-dotted">
		<canvas class="w-full h-full" fill="transparent"></canvas>
	</div>
</div>
{% endblock %}
